#form-numbers{
    margin: 3rem;
}

.number {
  margin: 0.5rem;
  padding: 0;
  max-width: max-content;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
}

.number:hover, .number:active{
    background-color: green;
    color: white;
}



